.header{
	width: 100%;
	height: 350px;
	background: url(../img/jm-logo.jpg) no-repeat center #710605;
}
.hea-con{
	width: 1000px;
	height: 330px;
	margin: 0 auto;
	padding-top: 20px;
}
.hea-con h1{
	float: left;
	width: 150px;
	height: 55px;
}
.hea-con ul{
	float: right;
	margin-top: 10px;
}
.hea-con li{
	float: left;
	padding:0 8px;
	font-size: 12px;
}
.hea-con li a{
	color: white;
}
.search{
	width: 100%;
	height: 100px;
}
.sea-con{
	width: 950px;
	height: 80px;
	margin: 0 auto;
	padding: 20px 30px 0 20px;
}
.sea-con form{
	width: 748px;
	height: 58px;
	border: 1px solid #dbdbdb;
	padding: 0 10px 0 40px;
	float: left;
	background: url(../img/search-zs.png) no-repeat left center;
	position: relative;
}
.sea-con input{
	border: 0;
	background: 0;
	outline: none;
	float: left;
}
.sea-con #txt{
	width: 665px;
	line-height: 58px;
	padding-left: 5px;
}
.sea-con #soso{
	width: 78px;
	height: 38px;
	background: #f70;
	line-height:38px;
	color: white;
	border-radius: 6px;
	margin-top: 10px;
}
.sea-con form #list{
	width: 790px;
	border: 2px solid #FF7700;
	display: none;
	position: absolute;
	overflow: hidden;
	background: #fff;
	z-index: 100;
	top: 58px;
	left: 5px;
}
#list li{
	line-height: 22px;
	font-size: 12px;
	padding-left: 8px;
	
}
#list li:hover{
	background: #FF5C00;
}
#list li:hover a{
	color: white;
}
#list li a{
	color: #666;
}
.fenlei{
	width:50px ;
	height: 50px;
	float: right;
	border-radius: 6px;
	background: #f70;
	text-align: center;
	font-size: 12px;
}
.fenlei i{
	display: block;
	width: 25px;
	height: 25px;
	background:url(../img/zs-category.png) no-repeat #f70;
	background-size:100% ;
	margin:5px 0 0 11px ;
}
.fenlei a{
	color: white;
}
.list{
	width: 100%;
	height: 279px;
	border-bottom: 1px solid #eee;
}
.list-con{
	width: 1090px;
	height: 248px;
	margin: 30px auto;
	position: relative;
}
.list-con ul{
	overflow: hidden;
}
.list-con li{
	width: 100px;
	height: 40px;
	margin: 10px 40px;
	float: left;
}
.list-con img{
	width: 100%;
	height: 100%;
}
.list-con h3{
	text-align: center;
	font-weight: 100;
	font-size: 14px;
}
.list-con p{
	text-align: center;
	font-size: 12px;
	margin-top: 20px;
}
.list-con .more{
	width: 120px;
	height: 38px;
	border-radius: 6px;
	display: block;
	border: 1px solid #f70;
	text-align: center;
	line-height: 38px;
	margin: 20px auto;
	color: #666;
	font-size: 12px;
}
.list-con .shop{
	position: absolute;
	bottom: 0px;
	right: 30px;
	width: 130px;
	height: 40px;
	float: right;
	background: #f70;
	border-radius: 6px;
	line-height: 40px;
	text-align: center;
	color: white;
	font-size: 12px;
}
.list-con .shop i{
	display: inline-block;
	border-width: 5px 0 5px 5px;
	border-style: solid;
	border-color: transparent transparent transparent #fff; 
}
.banner{
	width: 100%;  
	height: 634px;
	border-bottom: 1px solid #eee;
	margin: 30px 0;
}
.ban-con{
	width: 1090px;
	height: 634px;
	margin: 0px auto;
}
.ban-con h3,.re-con h3{
	text-align: center;
	font-weight: 100;
	font-size: 14px;
	margin-bottom: 30px;
}
#banner{
	width: 1090px;
	height: 280px;
	position: relative;
	overflow: hidden;
}
#banner ul{
	width: 2180px;
	position: absolute;	
}
#banner li{
	float: left;
}
#banner li:first-child{
	left: 0px;
}
#banner li:last-child{
	left: 1090px;
}
.ban-con #banner img{
	width: 1090px;
	height: 280px;
}
.ban-con dl{
	width: 343px;
	height: 250px;
	margin-top: 30px;
	margin-right: 30px;
	float: left;
}
.ban-con a:last-of-type dl{
	margin-right: 0;
}
.ban-con dl:hover span{
	color: #f70;
}
.ban-con dl img{
	width: 343px;
	height: 160px;
}
.ban-con dl dd{
	margin-top: 10px;
}
.ban-con dl dd p{
	color: #000;
	font-size: 14px;
}
.ban-con dl dd span{
	font-size: 12px;
	color: #666;
}
.recom{
	width: 100%;
	height: 460px;
	margin-top: 30px;
}
.re-con{
	width: 1090px;
	height: 460px;
	margin: 0 auto;
}
#btns{
	display: none;
}
#btns span{
	position: absolute;
	width: 50px;
	height: 50px;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
	background: #000;
	opacity: 0.3;
	z-index: 200;
	top: 30%;
	margin-top: -25px;
	cursor: pointer;
	color: white;
}
#btns span:first-child{
	left: 20px;
}
#btns span:last-child{
	right: 20px;
}
.box{
	width: 1090px;
	height: 320px;
	overflow: hidden;
	position: relative;
}
.re-con .dls{
	height: 320px;
	position: absolute;
}
.re-con .dls div{
	width: 1104px;
	height: 320px;
	float: left;
}
.re-con dl{
	width: 261px;
	height: 320px;
	margin-right: 15px;
	float: left;
}
.re-con dl:hover span{
	color: #f70;
}
.re-con dd{
	margin-top: 10px;
}
.re-con dl dd p{
	color: #000;
	line-height: 24px;
	font-size: 14px;
}
.re-con dl dd span{
	font-size: 12px;
	color: #666;
}
.re-con img{
	width: 261px;
	height: 160px;
}
.re-con .sale{
	display: block;
	width: 120px;
	height: 38px;
	border: 1px solid #FF7700;
	border-radius: 6px;
	margin: 20px auto;
	font-size: 14px;
	text-align: center;
	line-height: 38px;
	color: #666;
}
.footer{
	width: 100%;
	height: 522px;
	background: #f1f1f1;
}
.foot-t{
	height: 306px;
	margin: 0 auto;
	border-bottom: 1px solid #e0e0e0;
}
.hot{
	width: 1030px;
	margin: 0 auto;
	padding: 30px 0;
	border-bottom: 1px solid #E0E0E0;
	font-size: 12px;
	line-height: 25px;
	color: #999;
}
.hot a{
	color: #999;
}
.mall{
	width: 1090px;
	height: 135px;
	padding: 30px 0 15px 0;
	margin: 0 auto;
}
.mall dl{
	width: 146px;
	height: 135px;
	padding-left: 30px;
	float: left;
}
.mall dt{
	font-size: 13px;
	line-height: 31px;
}
.mall dd{
	line-height: 26px;
	font-size: 12px;
	
}
.mall dd:hover a{
	color: #f70;
}
.mall dd a{
	color: #666;
}
.weixin{
	float: left;
	width: 110px;
	height: 128px;
}
.weixin i{
	width: 18px;
	height: 15px;
	float: left;
	margin: 0 6px;
	background: url(../img/weixin_icon.jpg);
}
.weixin span{
	float: left;
	font-size: 12px;
}
.foot-b{
	width: 1090px;
	height: 200px;
	padding-top: 15px;
	margin: 0 auto;
}
.foot-b ul{
	height: 24px;
	line-height: 24px;
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
	color: #999;
	
}
.foot-b li{
	display: inline-block;
}
.foot-b li a{
	color: #999;
}
.foot-b p{
	text-align: center;
	color: #999;
	font-size: 12px;
	line-height: 20px;
}
.foot-b div{
	text-align: center;
	margin-top: 10px;
}
.foot-b img{
	display: inline-block;
}
.foot-b p img{
	position: relative;
	top: 5px;
}
.foot-b p a{
	color: #999;
}
.fixed{
	width: 36px;
	height: 100%;
	background: #fff;
	position: fixed;
	right: 0;
	text-align: center;
	z-index: 1000;
}
.fixed i{
	width: 22px;
	height: 24px;
	margin-top: 5px;
	display: inline-block;
	background: url(../img/righticon.png);
}
.level{
	width: 100%;
	height: 36px;
	position: absolute;
	top: 5%;
	cursor: pointer;
}
.erwei:hover,.cart:hover,.top:hover{
	background: #FF5C00;
}
.level:hover i{
	background-position: 22px 0px;
}
.level i{
	background-position: 0px 0px;
}
.level-login,.star-login{
	width: 293px;
	height: 162px;
	background: url(../img/whitearr.png) no-repeat right 10px;
	box-shadow: -7px 1px 10px rgba(31, 31, 31, 0.21);
	position: absolute;
	top: -10px;
	left: -298px;
	display: none;
}
.level-login div,.star-login div{
	width: 288px;
	height: 132px;
	background: #fff;
	padding-top: 30px;
}
.level-login div span,.star-login div span{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../img/rbclose.jpg);
	position: absolute;
	top: 10px;
	right: 20px;
}
.level-login div img,.star-login div img{
	margin: 0 auto;
}
.level-login div p,.star-login div p{
	font-size: 12px;
	color: #525261;
	margin-top: 20px;
}
.level-login div p a,.star-login div p a{
	color: #FF5C00;
}
.level div i{
	display: inline-block;
	width: ;
	background: url(../img/userimg.jpg) no-repeat right center;
}
.cart{
	position: absolute;
	top: 28%;
	cursor: pointer;
}
.cart:hover i{
	background-position: 22px -25px;
}
.cart:hover span,.cart:hover em{
	color: #fff;
}
.cart i{
	background-position: 0px -25px;
}
.cart span{
	width: 22px;
	display: inline-block;
	color: #666;
	font-size:14px ;
}
.cart em{
	font-style: normal;
	color: #ff5c00;
}
.cart .cart-slide{
	width: 288px;
	height: 488px;
	position: fixed;
	top: 0;
	right: 35px;
	z-index: 100;
	background: #fff;
	display: none;
}
.cart .cart-slide .cart-t{
	width: 264px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #eee;
}
.cart .cart-slide .cart-t h2{
	font-size: 14px;
	float: left;
	margin-left: 6px;
	font-weight: normal;
}
.cart .cart-slide .cart-t .level-close{
	cursor: pointer;
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    top: 15px;
    right: 0px;
    overflow: hidden;
    zoom: 1;
    background: url(../img/rbclose.jpg) no-repeat;
}
.cart .cart-slide .slide-box{
	width: 288px;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: #444;
}
.cart .cart-slide .slide-box img{
	width: 124px;
    height: 128px;
    margin: 30px auto 15px;
}
.cart .cart-slide .slide-box p{
	margin-bottom: 15px;
}
.cart .cart-slide .mayLike{
	width: 264px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 45px;
    line-height: 45px;
    text-align: center;
} 
.cart .cart-slide .mayLike h2{
	font-size: 16px;
    color: #333;
    float: left;
    font-weight: normal;
} 
.erwei{
	width: 100%;
	height: 36px;
	position: absolute;
	top: 48%;
	text-align: center;
	cursor: pointer;
}
.erwei:hover i{
	background-position: 22px -50px;
}
.erwei i{
	background-position: 0 -50px;
}
.star{
	width: 100%;
	height: 36px;
	position: absolute;
	top: 56%;
	text-align: center;
	cursor: pointer;
}
.star:hover i{
	background-position: 22px -75px;
}
.star i{
	background-position: 0 -75px;
}
.serve{
	width: 100%;
	height: 78px;
	position: absolute;
	top: 65%;
	text-align: center;
	cursor: pointer;
	background: #ff5c00;
	padding-top: 8px;
}
.serve i{
	background-position: 22px -100px;
}
.serve span{
	font-size: 14px;
	color: white;
}
.serve div,.top div{
	width: 78px;
	height: 36px;
	background: url(../img/whitearr.png) no-repeat right center;
	box-shadow: -7px 1px 10px rgba(31, 31, 31, 0.21);
	position: absolute;
	left: -84px;
	top: 0px;
	text-align: center;
	line-height: 36px;
	display: none;
}
.serve em,.top em{
	font-style: normal;
	width: 70px;
	height: 36px;
	display: inline-block;
	background: #fff;
}
.top{
	width: 100%;
	height: 36px;
	position: absolute;
	top: 85%;
	text-align: center;
	cursor: pointer;
}
.top:hover i{
	background-position: 22px -130px;
}
.top i{
	background-position: 0px -130px;
}
.fixleft{
	position: fixed;
    bottom: 20px;
    left: 10px;
    z-index: 99;
    display: none;
}
.fixleft .leftImg{
	background: url(../img/leftFixImg.png) no-repeat;
    width: 125px;
    height: 230px;
    position: relative;
}
.fixleft .leftImg a{
	position: absolute;
    width: 100px;
    height: 30px;
    display: block;
    left: 13px;
}
.fixleft .leftImg a:first-child{
	top: 50px;
}
.fixleft .leftImg a:last-child{
	top: 86px;
}
.fixleft .leftAd{
	margin-left: 3px;
}
.fixleft .leftAd span{
	position: absolute;
    left: 100px;
    border: 1px solid #808080;
    background-color: #fff;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 14px;
}
.fixleft .leftAd img{
	width: 106px;
}

